@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	background-color: "#0485E8";
}

body {
	font-family: "Poppins", sans-serif;
	background-color: "#0485E8";
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins-Regular.ttf");
}
